MLP_DB_TEST_DIALECT=mysql
MLP_DB_TEST_DRIVER=mysqldb
MLP_DB_TEST_HOST=127.0.0.1
MLP_DB_TEST_PORT=3306
MLP_DB_TEST_NAME=mlp_db_test
MLP_DB_TEST_USERNAME=mlp_db_test
MLP_DB_TEST_PASS=change-me
MLP_DB_TEST_CHARSET=utf8mb4
