MLP_DB_MYSQL_TEST_DIALECT=mysql
MLP_DB_MYSQL_TEST_DRIVER=mysqldb
MLP_DB_MYSQL_TEST_HOST=127.0.0.1
MLP_DB_MYSQL_TEST_PORT=3306
MLP_DB_MYSQL_TEST_NAME=mlp_db_test
MLP_DB_MYSQL_TEST_USERNAME=mlp_db_test
MLP_DB_MYSQL_TEST_PASS=change-me
MLP_DB_MYSQL_TEST_CHARSET=utf8mb4

MLP_DB_POSTGRES_TEST_DIALECT=postgresql
MLP_DB_POSTGRES_TEST_DRIVER=psycopg
MLP_DB_POSTGRES_TEST_HOST=127.0.0.1
MLP_DB_POSTGRES_TEST_PORT=5432
MLP_DB_POSTGRES_TEST_NAME=mlp_db_test
MLP_DB_POSTGRES_TEST_USERNAME=mlp_db_test
MLP_DB_POSTGRES_TEST_PASS=change-me
